@page "/"

<PageTitle>Home</PageTitle>

<UseGetMovies Context="result">
    <ChildContent>
        <ul>
            @foreach (var item in result.Movies!)
            {
                <li>@item.Title kwam in @item.ReleaseYear uit</li>
            }
        </ul>
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br />
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        Loading ...
    </LoadingContent>
</UseGetMovies>